@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root { /* tag usada para colocar as variavei no css*/
    --cor-de-fundo: #EBECEE;
    --white: #ffffff;
    --orange: #EB9800;
    --blue-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --blue:#002F52;
    --fonte-secundaria: "Josefin Sans";
    --black: #000000;
    --gray: #474646;
    --gray-claro: #858585;
}

body { /* quando não houver ponto não é especifico por isso pega todo o body ou outra tag do código */
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px; /*geralmente nos projetos este é o numero das fonte*/
    font-weight: 400;
}

